h1 {
    font-family: arial;
    text-align: center;
    color: white;
  }
  p {
    color: white;
    text-align: center;
    font-family: arial;
  }
  li {
    color: white;
    text-align: center;
    font-family: arial;
  }
  ul {
    color: white;
    text-align: center;
    font-family: arial;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
